# ls
alias ls='ls --color=auto'
alias l='ls -lh'
alias la='ls -a'
alias ld='ls -d */'

# tmux
alias tmux='tmux -2'

# docker
alias drun='USER_ID=$(id -u) GROUP_ID=$(id -g) docker-compose run --rm'

# git
alias gg='git log --oneline --graph'

