* {
  font-family: 'Inconsolata Nerd Font', monospace;
  font-size: 14px;
}

/* Window */
window {
  margin: 0px;
  padding: 10px;
  border-radius: 0;
  background-color: #24273a;
  border: 2px solid #b7bdf8;
}

#inner-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: #24273a;
}

#outer-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: #24273a;
}

#scroll {
  margin: 0px;
  padding: 10px;
  border: none;
  background-color: #24273a;
}

#input {
  margin: 5px 20px;
  padding: 10px;
  border: none;
  border-radius: 0;
  color: #cad3f5;
  background-color: #24273a;
}

#input image {
  border: none;
  color: #ed8796;
}

#input * {
  outline: 4px solid #ed8796!important;
}

#text {
  margin: 5px;
  border: none;
  color: #cad3f5;
}

#entry {
  background-color: #24273a;
  border: 2px solid transparent;
}

#entry arrow {
  border: none;
  color: #b7bdf8;
}

#entry:selected {
  border: 2px solid #b7bdf8;
}

#entry:selected #text {
  color: #c6a0f6;
}

#entry:drop(active) {
  background-color: #b7bdf8!important;
}
